.toolbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2774AE; /* Example background color */
    height: 10vh;
    z-index: 1000; /* Ensure it stays on top of other content */
}
.toolbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 10px 10%;
}
.toolbar a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    
}

/* Adjustments for better visibility */
.toolbar a:hover {
    color: #ddd;
}

.name {
    font-size: 1.6rem;
    font-weight: bold;
}

.toolbar .search{
    min-width: 200px;
}